<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!-- 1.修改数据库连接信息;  2.修改targetPackage;  3.添加逆向分析的表 -->

<generatorConfiguration>
    <!--
    targetRuntime="MyBatis3Simple" 生成基本的CRUD
    targetRuntime="MyBatis3" 生成带条件的CRUD
    -->
    <context id="DB2Tables" targetRuntime="MyBatis3">

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <!-- 数据库的连接信息 -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/metaj?serverTimezone=UTC"
                        userId="root"
                        password="whtly3018107154">
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>

        <javaTypeResolver>
            <!-- <property name="forceBigDecimals" value="true"/> -->
            <!-- This property is used to specify whether MyBatis Generator should force the use of JSR-310 data types for DATE, TIME,
            and TIMESTAMP fields, rather than using java.util.Date -->
            <property name="useJSR310Types" value="true"/>
        </javaTypeResolver>

        <!-- javaBean的生成策略-->
        <javaModelGenerator targetPackage="com.tiiaan.tbm.metaj.entity"
                            targetProject="./src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- SQL映射文件的生成策略 -->
        <sqlMapGenerator targetPackage="mapper"
                         targetProject="./src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- Mapper接口的生成策略 -->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.tiiaan.tbm.metaj.mapper"
                             targetProject="./src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!-- &lt;!&ndash;生成service,serviceImpl&ndash;&gt; -->
        <!-- <javaServiceGenerator targetPackage="com.tiiaan.tbm.metaj.service" targetProject="./src/main/java" -->
        <!--                       implementationPackage="com.tiiaan.tbm.metaj.service.impl"> -->
        <!-- </javaServiceGenerator> -->

        <!-- &lt;!&ndash;生成controller&ndash;&gt; -->
        <!-- <javaControllerGenerator targetPackage="com.tiiaan.tbm.metaj.controller" targetProject="./src/main/java"> -->
        <!-- </javaControllerGenerator> -->

        <!-- 逆向分析的表 -->
        <!-- tableName设置为*可以对应所有表，此时不写domainObjectName -->
        <!-- domainObjectName指定生成出来的实体类的类名 -->
        <!-- <table tableName="tb_instance" domainObjectName="InstanceEntity"/> -->
        <!-- <table tableName="tb_instance" domainObjectName="InstanceEntity" mapperName="InstanceMapper" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"/> -->
        <!-- <table tableName="tb_instance_data" domainObjectName="InstanceDataEntity" mapperName="InstanceDataMapper" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"/> -->
        <!-- <table tableName="tb_instance_watch" domainObjectName="InstanceWatchEntity" mapperName="InstanceWatchMapper" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"/> -->
        <!-- <table tableName="tb_issue" domainObjectName="IssueEntity" mapperName="IssueMapper" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"/> -->
        <!-- <table tableName="tb_issue_comment" domainObjectName="IssueCommentEntity" mapperName="IssueCommentMapper" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"/> -->
        <!-- <table tableName="tb_issue_watch" domainObjectName="IssueWatchEntity" mapperName="IssueWatchMapper" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"/> -->
        <!-- <table tableName="tb_issue_progress" domainObjectName="IssueProgressEntity" mapperName="IssueProgressMapper" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"/> -->
        <!-- <table tableName="tb_segment" domainObjectName="SegmentEntity" mapperName="SegmentMapper" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"/> -->
        <!-- <table tableName="tb_user" domainObjectName="IssueUserEntity" mapperName="IssueUserMapper" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false"/> -->

        <table tableName="tb_instance" domainObjectName="Instance" mapperName="InstanceMapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="tb_history" domainObjectName="History" mapperName="HistoryMapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="tb_watch" domainObjectName="Watch" mapperName="WatchMapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="tb_issue" domainObjectName="Issue" mapperName="IssueMapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="tb_issue_comment" domainObjectName="IssueComment" mapperName="IssueCommentMapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="tb_track" domainObjectName="Track" mapperName="TrackMapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="tb_issue_progress" domainObjectName="IssueProgress" mapperName="IssueProgressMapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="tb_segment" domainObjectName="Segment" mapperName="SegmentMapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="tb_user" schema="metaj" domainObjectName="User" mapperName="UserMapper">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

    </context>
</generatorConfiguration>