<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiiaan.tbm.metaj.mapper.HistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiiaan.tbm.metaj.entity.History">
        <id column="id" property="id" />
        <result column="issue_id" property="issueId" />
        <result column="instance_id" property="instanceId" />
        <result column="timestamp" property="timestamp" />
        <result column="main_torque" property="mainTorque" />
        <result column="motor_torque" property="motorTorque" />
        <result column="main_force" property="mainForce" />
        <result column="bias_force" property="biasForce" />
        <result column="asm_pressure" property="asmPressure" />
        <result column="asm_temperature" property="asmTemperature" />
        <result column="prop_pressure" property="propPressure" />
        <result column="prop_temperature" property="propTemperature" />
        <result column="bear_temperature" property="bearTemperature" />
        <result column="bear_bolt_strain" property="bearBoltStrain" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, issue_id, instance_id, timestamp, main_torque, motor_torque, main_force, bias_force, asm_pressure, asm_temperature, prop_pressure, prop_temperature, bear_temperature, bear_bolt_strain
    </sql>

</mapper>
