<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiiaan.tbm.metaj.mapper.InstanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiiaan.tbm.metaj.entity.Instance">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="project" property="project" />
        <result column="segments" property="segments" />
        <result column="mileage" property="mileage" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="health" property="health" />
        <result column="current_segment" property="currentSegment" />
        <result column="warns" property="warns" />
        <result column="issues" property="issues" />
        <result column="unsolved_issues" property="unsolvedIssues" />
        <result column="watching" property="watching" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, name, project, segments, mileage, longitude, latitude, health, current_segment, warns, issues, unsolved_issues, watching, create_time, update_time
    </sql>



    <select id="queryCountGroupByHealth" resultMap="byFiledId">
        select health, count(1) as cnt from tb_instance group by health
    </select>
    <resultMap id="byFiledId" type="com.tiiaan.tbm.metaj.dto.CountDTO">
        <result column="health" property="health"/>
        <result column="cnt" property="cnt"/>
    </resultMap>

    <select id="queryIdsOrderBy" resultType="java.lang.Long">
        SELECT id FROM tb_instance ORDER BY ${byWhat} LIMIT #{start}, #{pageSize}
    </select>

    <select id="queryIdsOfMeOrderBy" resultType="java.lang.Long">
        SELECT id from tb_instance WHERE id IN
        <foreach collection="idSet" item="id" open="(" close=")" separator=",">#{id}</foreach>
        ORDER BY ${byWhat} LIMIT #{start}, #{pageSize}
    </select>

</mapper>
