<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiiaan.tbm.metaj.mapper.InstanceDataMapper">
  <resultMap id="BaseResultMap" type="com.tiiaan.tbm.metaj.entity.InstanceDataEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="main_torque" jdbcType="DOUBLE" property="mainTorque" />
    <result column="motor_torque" jdbcType="DOUBLE" property="motorTorque" />
    <result column="main_force" jdbcType="DOUBLE" property="mainForce" />
    <result column="bias_force" jdbcType="DOUBLE" property="biasForce" />
    <result column="asm_pressure" jdbcType="DOUBLE" property="asmPressure" />
    <result column="asm_temperature" jdbcType="DOUBLE" property="asmTemperature" />
    <result column="prop_pressure" jdbcType="DOUBLE" property="propPressure" />
    <result column="prop_temperature" jdbcType="DOUBLE" property="propTemperature" />
    <result column="bear_temperature" jdbcType="DOUBLE" property="bearTemperature" />
    <result column="bear_bolt_strain" jdbcType="DOUBLE" property="bearBoltStrain" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, instance_id, timestamp, main_torque, motor_torque, main_force, bias_force, asm_pressure, 
    asm_temperature, prop_pressure, prop_temperature, bear_temperature, bear_bolt_strain
  </sql>
  <select id="selectByExample" parameterType="com.tiiaan.tbm.metaj.entity.InstanceDataEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_instance_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_instance_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_instance_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tiiaan.tbm.metaj.entity.InstanceDataEntityExample">
    delete from tb_instance_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tiiaan.tbm.metaj.entity.InstanceDataEntity">
    insert into tb_instance_data (id, instance_id, timestamp, 
      main_torque, motor_torque, main_force, 
      bias_force, asm_pressure, asm_temperature, 
      prop_pressure, prop_temperature, bear_temperature, 
      bear_bolt_strain)
    values (#{id,jdbcType=BIGINT}, #{instanceId,jdbcType=BIGINT}, #{timestamp,jdbcType=TIMESTAMP}, 
      #{mainTorque,jdbcType=DOUBLE}, #{motorTorque,jdbcType=DOUBLE}, #{mainForce,jdbcType=DOUBLE}, 
      #{biasForce,jdbcType=DOUBLE}, #{asmPressure,jdbcType=DOUBLE}, #{asmTemperature,jdbcType=DOUBLE}, 
      #{propPressure,jdbcType=DOUBLE}, #{propTemperature,jdbcType=DOUBLE}, #{bearTemperature,jdbcType=DOUBLE}, 
      #{bearBoltStrain,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.tiiaan.tbm.metaj.entity.InstanceDataEntity">
    insert into tb_instance_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="instanceId != null">
        instance_id,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
      <if test="mainTorque != null">
        main_torque,
      </if>
      <if test="motorTorque != null">
        motor_torque,
      </if>
      <if test="mainForce != null">
        main_force,
      </if>
      <if test="biasForce != null">
        bias_force,
      </if>
      <if test="asmPressure != null">
        asm_pressure,
      </if>
      <if test="asmTemperature != null">
        asm_temperature,
      </if>
      <if test="propPressure != null">
        prop_pressure,
      </if>
      <if test="propTemperature != null">
        prop_temperature,
      </if>
      <if test="bearTemperature != null">
        bear_temperature,
      </if>
      <if test="bearBoltStrain != null">
        bear_bolt_strain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="instanceId != null">
        #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="mainTorque != null">
        #{mainTorque,jdbcType=DOUBLE},
      </if>
      <if test="motorTorque != null">
        #{motorTorque,jdbcType=DOUBLE},
      </if>
      <if test="mainForce != null">
        #{mainForce,jdbcType=DOUBLE},
      </if>
      <if test="biasForce != null">
        #{biasForce,jdbcType=DOUBLE},
      </if>
      <if test="asmPressure != null">
        #{asmPressure,jdbcType=DOUBLE},
      </if>
      <if test="asmTemperature != null">
        #{asmTemperature,jdbcType=DOUBLE},
      </if>
      <if test="propPressure != null">
        #{propPressure,jdbcType=DOUBLE},
      </if>
      <if test="propTemperature != null">
        #{propTemperature,jdbcType=DOUBLE},
      </if>
      <if test="bearTemperature != null">
        #{bearTemperature,jdbcType=DOUBLE},
      </if>
      <if test="bearBoltStrain != null">
        #{bearBoltStrain,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tiiaan.tbm.metaj.entity.InstanceDataEntityExample" resultType="java.lang.Long">
    select count(*) from tb_instance_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_instance_data
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.instanceId != null">
        instance_id = #{record.instanceId,jdbcType=BIGINT},
      </if>
      <if test="record.timestamp != null">
        timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mainTorque != null">
        main_torque = #{record.mainTorque,jdbcType=DOUBLE},
      </if>
      <if test="record.motorTorque != null">
        motor_torque = #{record.motorTorque,jdbcType=DOUBLE},
      </if>
      <if test="record.mainForce != null">
        main_force = #{record.mainForce,jdbcType=DOUBLE},
      </if>
      <if test="record.biasForce != null">
        bias_force = #{record.biasForce,jdbcType=DOUBLE},
      </if>
      <if test="record.asmPressure != null">
        asm_pressure = #{record.asmPressure,jdbcType=DOUBLE},
      </if>
      <if test="record.asmTemperature != null">
        asm_temperature = #{record.asmTemperature,jdbcType=DOUBLE},
      </if>
      <if test="record.propPressure != null">
        prop_pressure = #{record.propPressure,jdbcType=DOUBLE},
      </if>
      <if test="record.propTemperature != null">
        prop_temperature = #{record.propTemperature,jdbcType=DOUBLE},
      </if>
      <if test="record.bearTemperature != null">
        bear_temperature = #{record.bearTemperature,jdbcType=DOUBLE},
      </if>
      <if test="record.bearBoltStrain != null">
        bear_bolt_strain = #{record.bearBoltStrain,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_instance_data
    set id = #{record.id,jdbcType=BIGINT},
      instance_id = #{record.instanceId,jdbcType=BIGINT},
      timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      main_torque = #{record.mainTorque,jdbcType=DOUBLE},
      motor_torque = #{record.motorTorque,jdbcType=DOUBLE},
      main_force = #{record.mainForce,jdbcType=DOUBLE},
      bias_force = #{record.biasForce,jdbcType=DOUBLE},
      asm_pressure = #{record.asmPressure,jdbcType=DOUBLE},
      asm_temperature = #{record.asmTemperature,jdbcType=DOUBLE},
      prop_pressure = #{record.propPressure,jdbcType=DOUBLE},
      prop_temperature = #{record.propTemperature,jdbcType=DOUBLE},
      bear_temperature = #{record.bearTemperature,jdbcType=DOUBLE},
      bear_bolt_strain = #{record.bearBoltStrain,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiiaan.tbm.metaj.entity.InstanceDataEntity">
    update tb_instance_data
    <set>
      <if test="instanceId != null">
        instance_id = #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="timestamp != null">
        timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="mainTorque != null">
        main_torque = #{mainTorque,jdbcType=DOUBLE},
      </if>
      <if test="motorTorque != null">
        motor_torque = #{motorTorque,jdbcType=DOUBLE},
      </if>
      <if test="mainForce != null">
        main_force = #{mainForce,jdbcType=DOUBLE},
      </if>
      <if test="biasForce != null">
        bias_force = #{biasForce,jdbcType=DOUBLE},
      </if>
      <if test="asmPressure != null">
        asm_pressure = #{asmPressure,jdbcType=DOUBLE},
      </if>
      <if test="asmTemperature != null">
        asm_temperature = #{asmTemperature,jdbcType=DOUBLE},
      </if>
      <if test="propPressure != null">
        prop_pressure = #{propPressure,jdbcType=DOUBLE},
      </if>
      <if test="propTemperature != null">
        prop_temperature = #{propTemperature,jdbcType=DOUBLE},
      </if>
      <if test="bearTemperature != null">
        bear_temperature = #{bearTemperature,jdbcType=DOUBLE},
      </if>
      <if test="bearBoltStrain != null">
        bear_bolt_strain = #{bearBoltStrain,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiiaan.tbm.metaj.entity.InstanceDataEntity">
    update tb_instance_data
    set instance_id = #{instanceId,jdbcType=BIGINT},
      timestamp = #{timestamp,jdbcType=TIMESTAMP},
      main_torque = #{mainTorque,jdbcType=DOUBLE},
      motor_torque = #{motorTorque,jdbcType=DOUBLE},
      main_force = #{mainForce,jdbcType=DOUBLE},
      bias_force = #{biasForce,jdbcType=DOUBLE},
      asm_pressure = #{asmPressure,jdbcType=DOUBLE},
      asm_temperature = #{asmTemperature,jdbcType=DOUBLE},
      prop_pressure = #{propPressure,jdbcType=DOUBLE},
      prop_temperature = #{propTemperature,jdbcType=DOUBLE},
      bear_temperature = #{bearTemperature,jdbcType=DOUBLE},
      bear_bolt_strain = #{bearBoltStrain,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.tiiaan.tbm.metaj.entity.InstanceDataEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="main_torque" jdbcType="DOUBLE" property="mainTorque" />
    <result column="motor_torque" jdbcType="DOUBLE" property="motorTorque" />
    <result column="main_force" jdbcType="DOUBLE" property="mainForce" />
    <result column="bias_force" jdbcType="DOUBLE" property="biasForce" />
    <result column="asm_pressure" jdbcType="DOUBLE" property="asmPressure" />
    <result column="asm_temperature" jdbcType="DOUBLE" property="asmTemperature" />
    <result column="prop_pressure" jdbcType="DOUBLE" property="propPressure" />
    <result column="prop_temperature" jdbcType="DOUBLE" property="propTemperature" />
    <result column="bear_temperature" jdbcType="DOUBLE" property="bearTemperature" />
    <result column="bear_bolt_strain" jdbcType="DOUBLE" property="bearBoltStrain" />
  </resultMap>
  <sql id="Base_Column_List">
    id, instance_id, timestamp, main_torque, motor_torque, main_force, bias_force, asm_pressure, 
    asm_temperature, prop_pressure, prop_temperature, bear_temperature, bear_bolt_strain
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_instance_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_instance_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tiiaan.tbm.metaj.entity.InstanceDataEntity">
    insert into tb_instance_data (id, instance_id, timestamp, 
      main_torque, motor_torque, main_force, 
      bias_force, asm_pressure, asm_temperature, 
      prop_pressure, prop_temperature, bear_temperature, 
      bear_bolt_strain)
    values (#{id,jdbcType=BIGINT}, #{instanceId,jdbcType=BIGINT}, #{timestamp,jdbcType=TIMESTAMP}, 
      #{mainTorque,jdbcType=DOUBLE}, #{motorTorque,jdbcType=DOUBLE}, #{mainForce,jdbcType=DOUBLE}, 
      #{biasForce,jdbcType=DOUBLE}, #{asmPressure,jdbcType=DOUBLE}, #{asmTemperature,jdbcType=DOUBLE}, 
      #{propPressure,jdbcType=DOUBLE}, #{propTemperature,jdbcType=DOUBLE}, #{bearTemperature,jdbcType=DOUBLE}, 
      #{bearBoltStrain,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.tiiaan.tbm.metaj.entity.InstanceDataEntity">
    insert into tb_instance_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="instanceId != null">
        instance_id,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
      <if test="mainTorque != null">
        main_torque,
      </if>
      <if test="motorTorque != null">
        motor_torque,
      </if>
      <if test="mainForce != null">
        main_force,
      </if>
      <if test="biasForce != null">
        bias_force,
      </if>
      <if test="asmPressure != null">
        asm_pressure,
      </if>
      <if test="asmTemperature != null">
        asm_temperature,
      </if>
      <if test="propPressure != null">
        prop_pressure,
      </if>
      <if test="propTemperature != null">
        prop_temperature,
      </if>
      <if test="bearTemperature != null">
        bear_temperature,
      </if>
      <if test="bearBoltStrain != null">
        bear_bolt_strain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="instanceId != null">
        #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="mainTorque != null">
        #{mainTorque,jdbcType=DOUBLE},
      </if>
      <if test="motorTorque != null">
        #{motorTorque,jdbcType=DOUBLE},
      </if>
      <if test="mainForce != null">
        #{mainForce,jdbcType=DOUBLE},
      </if>
      <if test="biasForce != null">
        #{biasForce,jdbcType=DOUBLE},
      </if>
      <if test="asmPressure != null">
        #{asmPressure,jdbcType=DOUBLE},
      </if>
      <if test="asmTemperature != null">
        #{asmTemperature,jdbcType=DOUBLE},
      </if>
      <if test="propPressure != null">
        #{propPressure,jdbcType=DOUBLE},
      </if>
      <if test="propTemperature != null">
        #{propTemperature,jdbcType=DOUBLE},
      </if>
      <if test="bearTemperature != null">
        #{bearTemperature,jdbcType=DOUBLE},
      </if>
      <if test="bearBoltStrain != null">
        #{bearBoltStrain,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiiaan.tbm.metaj.entity.InstanceDataEntity">
    update tb_instance_data
    <set>
      <if test="instanceId != null">
        instance_id = #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="timestamp != null">
        timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="mainTorque != null">
        main_torque = #{mainTorque,jdbcType=DOUBLE},
      </if>
      <if test="motorTorque != null">
        motor_torque = #{motorTorque,jdbcType=DOUBLE},
      </if>
      <if test="mainForce != null">
        main_force = #{mainForce,jdbcType=DOUBLE},
      </if>
      <if test="biasForce != null">
        bias_force = #{biasForce,jdbcType=DOUBLE},
      </if>
      <if test="asmPressure != null">
        asm_pressure = #{asmPressure,jdbcType=DOUBLE},
      </if>
      <if test="asmTemperature != null">
        asm_temperature = #{asmTemperature,jdbcType=DOUBLE},
      </if>
      <if test="propPressure != null">
        prop_pressure = #{propPressure,jdbcType=DOUBLE},
      </if>
      <if test="propTemperature != null">
        prop_temperature = #{propTemperature,jdbcType=DOUBLE},
      </if>
      <if test="bearTemperature != null">
        bear_temperature = #{bearTemperature,jdbcType=DOUBLE},
      </if>
      <if test="bearBoltStrain != null">
        bear_bolt_strain = #{bearBoltStrain,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiiaan.tbm.metaj.entity.InstanceDataEntity">
    update tb_instance_data
    set instance_id = #{instanceId,jdbcType=BIGINT},
      timestamp = #{timestamp,jdbcType=TIMESTAMP},
      main_torque = #{mainTorque,jdbcType=DOUBLE},
      motor_torque = #{motorTorque,jdbcType=DOUBLE},
      main_force = #{mainForce,jdbcType=DOUBLE},
      bias_force = #{biasForce,jdbcType=DOUBLE},
      asm_pressure = #{asmPressure,jdbcType=DOUBLE},
      asm_temperature = #{asmTemperature,jdbcType=DOUBLE},
      prop_pressure = #{propPressure,jdbcType=DOUBLE},
      prop_temperature = #{propTemperature,jdbcType=DOUBLE},
      bear_temperature = #{bearTemperature,jdbcType=DOUBLE},
      bear_bolt_strain = #{bearBoltStrain,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>