<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiiaan.tbm.metaj.mapper.IssueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiiaan.tbm.metaj.entity.Issue">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="instance_id" property="instanceId" />
        <result column="level" property="level" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="tracking" property="tracking" />
        <result column="comments" property="comments" />
        <result column="closed" property="closed" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, instance_id, level, title, description, tracking, comments, closed, create_time, update_time
    </sql>


    <select id="queryIssuesByInstanceIdDynamic" resultType="com.tiiaan.tbm.metaj.entity.Issue">
        SELECT *  FROM tb_issue
        <where>
            <if test="instanceId != -1">AND instance_id = #{instanceId} </if>
            <if test="closed != -1">AND closed = #{closed} </if>
            <if test="userId != -1">AND user_id = #{userId} </if>
        </where>
        ORDER BY time DESC LIMIT #{start}, #{pageSize}
    </select>

</mapper>
