<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiiaan.tbm.metaj.mapper.SegmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiiaan.tbm.metaj.entity.Segment">
        <id column="id" property="id" />
        <result column="instance_id" property="instanceId" />
        <result column="circle_seq" property="circleSeq" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="start" property="start" />
        <result column="finish" property="finish" />
        <result column="prop_period" property="propPeriod" />
        <result column="asm_period" property="asmPeriod" />
        <result column="stop_period" property="stopPeriod" />
        <result column="filling_amount" property="fillingAmount" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, instance_id, circle_seq, longitude, latitude, start, finish, prop_period, asm_period, stop_period, filling_amount, update_time
    </sql>

</mapper>
