<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiiaan.tbm.metaj.mapper.SegmentMapper">
  <resultMap id="BaseResultMap" type="com.tiiaan.tbm.metaj.entity.SegmentEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
    <result column="circle_seq" jdbcType="INTEGER" property="circleSeq" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="prop_period" jdbcType="INTEGER" property="propPeriod" />
    <result column="asm_period" jdbcType="INTEGER" property="asmPeriod" />
    <result column="stop_period" jdbcType="INTEGER" property="stopPeriod" />
    <result column="filling_amount" jdbcType="INTEGER" property="fillingAmount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, instance_id, circle_seq, longitude, latitude, start_time, finish_time, prop_period, 
    asm_period, stop_period, filling_amount
  </sql>
  <select id="selectByExample" parameterType="com.tiiaan.tbm.metaj.entity.SegmentEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_segment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_segment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_segment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tiiaan.tbm.metaj.entity.SegmentEntityExample">
    delete from tb_segment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tiiaan.tbm.metaj.entity.SegmentEntity">
    insert into tb_segment (id, instance_id, circle_seq, 
      longitude, latitude, start_time, 
      finish_time, prop_period, asm_period, 
      stop_period, filling_amount)
    values (#{id,jdbcType=BIGINT}, #{instanceId,jdbcType=BIGINT}, #{circleSeq,jdbcType=INTEGER}, 
      #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, #{startTime,jdbcType=TIMESTAMP}, 
      #{finishTime,jdbcType=TIMESTAMP}, #{propPeriod,jdbcType=INTEGER}, #{asmPeriod,jdbcType=INTEGER}, 
      #{stopPeriod,jdbcType=INTEGER}, #{fillingAmount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tiiaan.tbm.metaj.entity.SegmentEntity">
    insert into tb_segment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="instanceId != null">
        instance_id,
      </if>
      <if test="circleSeq != null">
        circle_seq,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="propPeriod != null">
        prop_period,
      </if>
      <if test="asmPeriod != null">
        asm_period,
      </if>
      <if test="stopPeriod != null">
        stop_period,
      </if>
      <if test="fillingAmount != null">
        filling_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="instanceId != null">
        #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="circleSeq != null">
        #{circleSeq,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="propPeriod != null">
        #{propPeriod,jdbcType=INTEGER},
      </if>
      <if test="asmPeriod != null">
        #{asmPeriod,jdbcType=INTEGER},
      </if>
      <if test="stopPeriod != null">
        #{stopPeriod,jdbcType=INTEGER},
      </if>
      <if test="fillingAmount != null">
        #{fillingAmount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tiiaan.tbm.metaj.entity.SegmentEntityExample" resultType="java.lang.Long">
    select count(*) from tb_segment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_segment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.instanceId != null">
        instance_id = #{record.instanceId,jdbcType=BIGINT},
      </if>
      <if test="record.circleSeq != null">
        circle_seq = #{record.circleSeq,jdbcType=INTEGER},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=DOUBLE},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=DOUBLE},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finishTime != null">
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.propPeriod != null">
        prop_period = #{record.propPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.asmPeriod != null">
        asm_period = #{record.asmPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.stopPeriod != null">
        stop_period = #{record.stopPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.fillingAmount != null">
        filling_amount = #{record.fillingAmount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_segment
    set id = #{record.id,jdbcType=BIGINT},
      instance_id = #{record.instanceId,jdbcType=BIGINT},
      circle_seq = #{record.circleSeq,jdbcType=INTEGER},
      longitude = #{record.longitude,jdbcType=DOUBLE},
      latitude = #{record.latitude,jdbcType=DOUBLE},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      prop_period = #{record.propPeriod,jdbcType=INTEGER},
      asm_period = #{record.asmPeriod,jdbcType=INTEGER},
      stop_period = #{record.stopPeriod,jdbcType=INTEGER},
      filling_amount = #{record.fillingAmount,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiiaan.tbm.metaj.entity.SegmentEntity">
    update tb_segment
    <set>
      <if test="instanceId != null">
        instance_id = #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="circleSeq != null">
        circle_seq = #{circleSeq,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="propPeriod != null">
        prop_period = #{propPeriod,jdbcType=INTEGER},
      </if>
      <if test="asmPeriod != null">
        asm_period = #{asmPeriod,jdbcType=INTEGER},
      </if>
      <if test="stopPeriod != null">
        stop_period = #{stopPeriod,jdbcType=INTEGER},
      </if>
      <if test="fillingAmount != null">
        filling_amount = #{fillingAmount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiiaan.tbm.metaj.entity.SegmentEntity">
    update tb_segment
    set instance_id = #{instanceId,jdbcType=BIGINT},
      circle_seq = #{circleSeq,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      prop_period = #{propPeriod,jdbcType=INTEGER},
      asm_period = #{asmPeriod,jdbcType=INTEGER},
      stop_period = #{stopPeriod,jdbcType=INTEGER},
      filling_amount = #{fillingAmount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.tiiaan.tbm.metaj.entity.SegmentEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
    <result column="circle_seq" jdbcType="INTEGER" property="circleSeq" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="prop_period" jdbcType="INTEGER" property="propPeriod" />
    <result column="asm_period" jdbcType="INTEGER" property="asmPeriod" />
    <result column="stop_period" jdbcType="INTEGER" property="stopPeriod" />
    <result column="filling_amount" jdbcType="INTEGER" property="fillingAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, instance_id, circle_seq, longitude, latitude, start_time, finish_time, prop_period, 
    asm_period, stop_period, filling_amount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_segment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_segment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tiiaan.tbm.metaj.entity.SegmentEntity">
    insert into tb_segment (id, instance_id, circle_seq, 
      longitude, latitude, start_time, 
      finish_time, prop_period, asm_period, 
      stop_period, filling_amount)
    values (#{id,jdbcType=BIGINT}, #{instanceId,jdbcType=BIGINT}, #{circleSeq,jdbcType=INTEGER}, 
      #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, #{startTime,jdbcType=TIMESTAMP}, 
      #{finishTime,jdbcType=TIMESTAMP}, #{propPeriod,jdbcType=INTEGER}, #{asmPeriod,jdbcType=INTEGER}, 
      #{stopPeriod,jdbcType=INTEGER}, #{fillingAmount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tiiaan.tbm.metaj.entity.SegmentEntity">
    insert into tb_segment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="instanceId != null">
        instance_id,
      </if>
      <if test="circleSeq != null">
        circle_seq,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="propPeriod != null">
        prop_period,
      </if>
      <if test="asmPeriod != null">
        asm_period,
      </if>
      <if test="stopPeriod != null">
        stop_period,
      </if>
      <if test="fillingAmount != null">
        filling_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="instanceId != null">
        #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="circleSeq != null">
        #{circleSeq,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="propPeriod != null">
        #{propPeriod,jdbcType=INTEGER},
      </if>
      <if test="asmPeriod != null">
        #{asmPeriod,jdbcType=INTEGER},
      </if>
      <if test="stopPeriod != null">
        #{stopPeriod,jdbcType=INTEGER},
      </if>
      <if test="fillingAmount != null">
        #{fillingAmount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiiaan.tbm.metaj.entity.SegmentEntity">
    update tb_segment
    <set>
      <if test="instanceId != null">
        instance_id = #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="circleSeq != null">
        circle_seq = #{circleSeq,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="propPeriod != null">
        prop_period = #{propPeriod,jdbcType=INTEGER},
      </if>
      <if test="asmPeriod != null">
        asm_period = #{asmPeriod,jdbcType=INTEGER},
      </if>
      <if test="stopPeriod != null">
        stop_period = #{stopPeriod,jdbcType=INTEGER},
      </if>
      <if test="fillingAmount != null">
        filling_amount = #{fillingAmount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiiaan.tbm.metaj.entity.SegmentEntity">
    update tb_segment
    set instance_id = #{instanceId,jdbcType=BIGINT},
      circle_seq = #{circleSeq,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      prop_period = #{propPeriod,jdbcType=INTEGER},
      asm_period = #{asmPeriod,jdbcType=INTEGER},
      stop_period = #{stopPeriod,jdbcType=INTEGER},
      filling_amount = #{fillingAmount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>